APScheduler==3.6.1
asn1crypto==0.24.0
beautifulsoup4==4.8.0
certifi==2019.6.16
cffi==1.14.0
cryptography==2.8
feedparser==5.2.1
future==0.18.2
psycopg2-binary==2.8.4
pycparser==2.19
python-telegram-bot==12.4.1
pytz==2019.3
six==1.14.0
soupsieve==1.9.5
SQLAlchemy==1.3.13
tornado==6.0.3
tzlocal==2.0.0
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
Flask-Admin==1.5.5
Flask-Migrate==2.5.2
Flask-Security==3.0.0
celery
redis
watchdog
pyyaml
argh