{% extends 'admin/master.html' %}
{% block body %}
    <p>Here I'm going to display some data.</p>
    <ul>
    {% for task in tasks %}
        <li>{{ task.actor_name }}
            <button onclick="onTaskClick('{{ task.actor_name }}')">run</button>
        </li>
    {% endfor %}
    </ul>
    <script>
        async function onTaskClick(name) {
            await fetch(`/tasks/${name}/execution`, {
                method: 'POST',
            });
            alert('Success!')
        }
    </script>

{% endblock %}